In [2]:
import pandas as pd

# Sample mapping data for regions and their respective markets
data = {
    'region': ['South America', 'Central America', 'Caribbean', 'South Asia', 'West Asia', 'Oceania', 'Eastern Asia',
               'West of USA', 'US Center', 'West Africa', 'Central Africa', 'North Africa', 'Western Europe',
               'Northern Europe', 'East Africa', 'Southern Europe', 'East of USA', 'Canada', 'Southeast Asia',
               'Southern Africa', 'Eastern Europe', 'South of  USA', 'Central Asia'],
    'market': ['LATAM', 'LATAM', 'LATAM', 'Pacific Asia', 'Pacific Asia', 'Pacific Asia', 'Pacific Asia',
               'USCA', 'USCA', 'Africa', 'Africa', 'Africa', 'Europe', 'Europe', 'Africa', 'Europe',
               'USCA', 'USCA', 'Pacific Asia', 'Africa', 'Europe', 'USCA', 'Pacific Asia']
}

df_region_market = pd.DataFrame(data)

# Export to CSV
file_path = 'region_market_mapping.csv'
df_region_market.to_csv(file_path, index=False)

In [3]:
import pandas as pd

In [7]:
import os
print(os.getcwd())

/Users/aamirkhan/IronHack/Final/notebooks

In [8]:
os.chdir('..')

In [9]:
print(os.getcwd())

/Users/aamirkhan/IronHack/Final

In [13]:
dfcategory = pd.read_csv("data/dfcategory.csv")
dfcategory

,Unnamed: 0,category_name,customer_city,customer_country,customer_fname,customer_id,customer_segment,customer_state,customer_zipcode,market,...,order_region,order_item_total,order_quantity,product_price,profit_margin,profit_per_order,sales,order_year,order_month,SalePrice_category
0,0,Camping & Hiking,Caguas,Puerto Rico,Sean,568,Consumer,PR,725,LATAM,...,South America,269.980011,1,299.980011,26.1,78.290001,800.000000,2017,6,Medium
1,1,Camping & Hiking,Caguas,Puerto Rico,Carol,3341,Consumer,PR,725,LATAM,...,South America,269.980011,1,299.980011,-5.4,-16.200001,800.000000,2017,4,Medium
2,2,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680,LATAM,...,Central America,263.980011,1,299.980011,3.9,11.620000,800.000000,2017,5,Medium
3,3,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680,LATAM,...,Central America,260.980011,1,299.980011,-1.1,-3.390000,800.000000,2017,5,Medium
4,4,Hunting & Shooting,Caguas,Puerto Rico,Mary,10740,Consumer,PR,725,LATAM,...,Central America,130.490005,1,149.990005,-63.8,-95.650002,149.990005,2017,5,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115738,115738,Water Sports,Los Angeles,United States,Mary,2666,Corporate,CA,90033,USCA,...,US Center,175.990005,1,199.990005,27.5,55.090000,199.990005,2016,4,Low
115739,115739,Others,Upland,United States,Victoria,8100,Corporate,CA,91786,USCA,...,East of USA,33.189999,1,39.990002,37.4,14.940000,39.990002,2016,7,Very Low
115740,115740,Fishing,Los Angeles,United States,Mary,2666,Corporate,CA,90033,USCA,...,US Center,331.980011,1,399.980011,39.8,159.350006,399.980011,2016,4,Low
115741,115741,Fishing,Los Angeles,United States,Mary,9547,Corporate,CA,90027,USCA,...,West of USA,331.980011,1,399.980011,24.9,99.599998,399.980011,2016,8,Low
115742,115742,Golf Items,Las Vegas,United States,Mary,11747,Corporate,NV,89123,USCA,...,West of USA,12.440000,1,14.990000,39.8,5.970000,14.990000,2016,4,Very Low

In [14]:
import pandas as pd

# Assuming dfcategory is your existing DataFrame

# Ensure 'order_date' is in datetime format
dfcategory['order_date'] = pd.to_datetime(dfcategory['order_date'])

# Check for null values
print("Null values before cleaning:")
print(dfcategory.isnull().sum())

# Fill or drop null values if any
dfcategory['order_quantity'].fillna(0, inplace=True)  # Example: fill with default value

# Remove or fill nulls in 'order_date' and 'market' if any
dfcategory['order_date'].fillna(pd.Timestamp('2020-01-01'), inplace=True)
dfcategory['market'].fillna('Unknown', inplace=True)

# Strip any leading/trailing whitespace from string columns
dfcategory = dfcategory.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Check again for null values
print("\nNull values after cleaning:")
print(dfcategory.isnull().sum())

# Re-export the cleaned DataFrame to CSV
file_path = 'dfcategory_cleaned.csv'
dfcategory.to_csv(file_path, index=False)

# Confirmation message
print(f"Cleaned DataFrame successfully exported to {file_path}")

Null values before cleaning:
Unnamed: 0            0
category_name         0
customer_city         0
customer_country      0
customer_fname        0
customer_id           0
customer_segment      0
customer_state        0
customer_zipcode      0
market                0
order_date            0
order_id              0
order_region          0
order_item_total      0
order_quantity        0
product_price         0
profit_margin         0
profit_per_order      0
sales                 0
order_year            0
order_month           0
SalePrice_category    0
dtype: int64

/var/folders/40/tp00qlcd3_7cqs8y8qkf7gbm0000gn/T/ipykernel_55454/1784766226.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfcategory['order_quantity'].fillna(0, inplace=True)  # Example: fill with default value
/var/folders/40/tp00qlcd3_7cqs8y8qkf7gbm0000gn/T/ipykernel_55454/1784766226.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfcategory['order_date'].fillna(pd.Timestamp('2020-01-01'), inplace=True)
/var/folders/40/tp00qlcd3_7cqs8y8qkf7gbm0000gn/T/ipykernel_55454/1784766226.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfcategory['market'].fillna('Unknown', inplace=True)
/var/folders/40/tp00qlcd3_7cqs8y8qkf7gbm0000gn/T/ipykernel_55454/1784766226.py:20: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dfcategory = dfcategory.applymap(lambda x: x.strip() if isinstance(x, str) else x)

Null values after cleaning:
Unnamed: 0            0
category_name         0
customer_city         0
customer_country      0
customer_fname        0
customer_id           0
customer_segment      0
customer_state        0
customer_zipcode      0
market                0
order_date            0
order_id              0
order_region          0
order_item_total      0
order_quantity        0
product_price         0
profit_margin         0
profit_per_order      0
sales                 0
order_year            0
order_month           0
SalePrice_category    0
dtype: int64
Cleaned DataFrame successfully exported to dfcategory_cleaned.csv

In [15]:
import pandas as pd

# Assuming dfcategory is your existing DataFrame

# Ensure 'order_date' is in datetime format
dfcategory['order_date'] = pd.to_datetime(dfcategory['order_date'])

# Detailed check for null values and data types
print("Detailed Null Value Check and Data Types:")
print(dfcategory.isnull().sum())
print(dfcategory.dtypes)

# Check for empty strings or unexpected values in categorical columns
def check_for_issues(df):
    for column in df.select_dtypes(include=['object']):
        print(f"Checking column: {column}")
        print(df[column].value_counts())
        print(df[column].value_counts().index.str.contains(r"\s").sum(), "entries have whitespace issues")
        print()

check_for_issues(dfcategory)

# Remove whitespace from string columns
dfcategory = dfcategory.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Fill or drop any remaining null values
dfcategory['order_quantity'].fillna(0, inplace=True)
dfcategory['order_date'].fillna(pd.Timestamp('2020-01-01'), inplace=True)
dfcategory['market'].fillna('Unknown', inplace=True)

# Ensure 'order_quantity' is numeric
dfcategory['order_quantity'] = pd.to_numeric(dfcategory['order_quantity'], errors='coerce')

# Ensure 'market' has no "unknown" or other unintended categories
print("\nUnique values in 'market':")
print(dfcategory['market'].unique())

# Check for any remaining nulls
print("\nChecking again for null values:")
print(dfcategory.isnull().sum())

Detailed Null Value Check and Data Types:
Unnamed: 0            0
category_name         0
customer_city         0
customer_country      0
customer_fname        0
customer_id           0
customer_segment      0
customer_state        0
customer_zipcode      0
market                0
order_date            0
order_id              0
order_region          0
order_item_total      0
order_quantity        0
product_price         0
profit_margin         0
profit_per_order      0
sales                 0
order_year            0
order_month           0
SalePrice_category    0
dtype: int64
Unnamed: 0                     int64
category_name                 object
customer_city                 object
customer_country              object
customer_fname                object
customer_id                    int64
customer_segment              object
customer_state                object
customer_zipcode               int64
market                        object
order_date            datetime64[ns]
order_id                       int64
order_region                  object
order_item_total             float64
order_quantity                 int64
product_price                float64
profit_margin                float64
profit_per_order             float64
sales                        float64
order_year                     int64
order_month                    int64
SalePrice_category            object
dtype: object
Checking column: category_name
category_name
Footwear                30336
Apparels                16400
Indoor/Outdoor Games    12275
Fishing                 11084
Water Sports             9870
Camping & Hiking         8795
Others                   8591
Cardio Equipment         7813
OtherElectronics         3433
Golf Items               1718
Ourdoor Sports           1165
Cameras                   592
Crafts                    484
Computers                 442
Books                     405
Garden                    388
Boxing & MMA              306
Hunting & Shooting        294
Fitness                   280
Toys                      253
Pet Supplies              246
Health and Beauty         239
Tennis & Racquet          189
Sporting Goods            145
Name: count, dtype: int64
12 entries have whitespace issues

Checking column: customer_city
customer_city
Caguas         42771
Chicago         2519
Los Angeles     2287
Brooklyn        2209
New York        1163
               ...
Gwynn Oak         16
Malden            15
Ponce             12
Bartlett           5
Freehold           2
Name: count, Length: 562, dtype: int64
162 entries have whitespace issues

Checking column: customer_country
customer_country
United States    71285
Puerto Rico      44458
Name: count, dtype: int64
2 entries have whitespace issues

Checking column: customer_fname
customer_fname
Mary       41259
James       1143
Robert      1091
David       1053
Michael     1020
           ...
Rebeca         1
Charly         1
Anne           1
Clau           1
Cami           1
Name: count, Length: 761, dtype: int64
0 entries have whitespace issues

Checking column: customer_segment
customer_segment
Consumer       60155
Corporate      35004
Home Office    20584
Name: count, dtype: int64
1 entries have whitespace issues

Checking column: customer_state
customer_state
PR    44458
CA    18682
NY     7315
TX     5924
IL     4882
FL     3487
OH     2639
MI     2455
PA     2396
NJ     2070
AZ     1939
GA     1711
MD     1538
CO     1202
NC     1183
VA     1153
OR     1097
MA      995
NV      959
TN      942
MO      877
HI      806
NM      673
UT      658
CT      652
WA      637
LA      587
WI      575
MN      454
SC      433
IN      376
DC      330
KY      291
KS      289
DE      171
RI      170
WV      148
OK      135
ND      130
AR      100
ID       90
MT       53
IA       48
AL       33
Name: count, dtype: int64
0 entries have whitespace issues

Checking column: market
market
Pacific Asia    27175
LATAM           25819
USCA            25799
Europe          25336
Africa          11614
Name: count, dtype: int64
1 entries have whitespace issues

Checking column: order_region
order_region
Central America    14384
Western Europe     12512
West of USA         7993
South America       7330
East of USA         6915
Oceania             6597
West Asia           6009
US Center           5887
Southeast Asia      5175
South Asia          4954
Northern Europe     4521
Southern Europe     4383
Caribbean           4105
South of  USA       4045
Eastern Europe      3920
Eastern Asia        3887
West Africa         3696
North Africa        3232
East Africa         1852
Central Africa      1677
Southern Africa     1157
Canada               959
Central Asia         553
Name: count, dtype: int64
20 entries have whitespace issues

Checking column: SalePrice_category
SalePrice_category
Low          86061
Very Low     23194
Medium        6031
High           442
Very High       15
Name: count, dtype: int64
2 entries have whitespace issues

/var/folders/40/tp00qlcd3_7cqs8y8qkf7gbm0000gn/T/ipykernel_55454/3222784545.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dfcategory = dfcategory.applymap(lambda x: x.strip() if isinstance(x, str) else x)

Unique values in 'market':
['LATAM' 'Pacific Asia' 'USCA' 'Africa' 'Europe']

Checking again for null values:
Unnamed: 0            0
category_name         0
customer_city         0
customer_country      0
customer_fname        0
customer_id           0
customer_segment      0
customer_state        0
customer_zipcode      0
market                0
order_date            0
order_id              0
order_region          0
order_item_total      0
order_quantity        0
product_price         0
profit_margin         0
profit_per_order      0
sales                 0
order_year            0
order_month           0
SalePrice_category    0
dtype: int64

/var/folders/40/tp00qlcd3_7cqs8y8qkf7gbm0000gn/T/ipykernel_55454/3222784545.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfcategory['order_quantity'].fillna(0, inplace=True)
/var/folders/40/tp00qlcd3_7cqs8y8qkf7gbm0000gn/T/ipykernel_55454/3222784545.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfcategory['order_date'].fillna(pd.Timestamp('2020-01-01'), inplace=True)
/var/folders/40/tp00qlcd3_7cqs8y8qkf7gbm0000gn/T/ipykernel_55454/3222784545.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfcategory['market'].fillna('Unknown', inplace=True)